* {
  font-family: 'Roboto', sans-serif;
}

.content {
  padding: 3rem;
}

.Title {
  margin: 0;
}

.List {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.List li {
  border-radius: 1rem;
  color: white;
  height: 80px;
  margin: .5rem;
  padding: 1.5rem 1rem;
  background-color: #14A06f;
}